kind: PersistentVolume
apiVersion: v1
metadata:
  name: cryoem-logbook-dev--mongo-0
  labels:
    type: local
spec:
  storageClassName: cryoem-logbook-dev--mongo
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    #path: /scratch/daq/dev/mongo-0
    path: /gpfs/slac/cryo/fs1/daq/dev/mongo/mongo-0
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        #- key: kubernetes.io/hostname
        #  operator: In
        #  values:
        #  - ocio-gpu02
        - key: storage/cryoem
          operator: In
          values:
          - 'true'

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: cryoem-logbook-dev--mongo-1
  labels:
    type: local
spec:
  storageClassName: cryoem-logbook-dev--mongo
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    #path: /scratch/daq/dev/mongo-1
    path: /gpfs/slac/cryo/fs1/daq/dev/mongo/mongo-1
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        #- key: kubernetes.io/hostname
        #  operator: In
        #  values:
        #  - os-dev02
        - key: storage/cryoem
          operator: In
          values:
          - 'true'

---
